.cabeçalho_menu-hamburguer{
    width: 45px;
    height: 50px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container_botao:checked~.container_rotulo>.cabeçalho_menu-hamburguer{
    background-image: url("../img/Menu\ Aberto.png");
}

.container_botao:checked~.container_rotulo{
    background: var(--azul-degrade);
}

.cabeçalho{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 10px;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked~.lista-menu{
    display: block;
}

.lista-menu li{
    padding: 1em;
    background-color: white;
}

.lista-menu_titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container_botao{
    display:none;
}

.container_titulo, .opções, .container_texto{
    display: none;
}

@media screen and (min-width: 1024px){
    .container_titulo, .container_titulo_negrito{
        font-family: 'Josefin Sans', sans-serif;
        font-size:30px;
    }

    .container_titulo{
        font-weight: 400;
        display: block;
    }

    .container_titulo_negrito{
        font-weight: 700;
    }

    .opções{
        display: flex;
    }

    .opções_item{
        padding:1em;
        text-transform: uppercase;
    }

    .opções_link{
        text-decoration: none;
        color: black;
    }

    .container_imagem_transparente, .cabeçalho_menu-hamburguer, .opções_botão{
        display: none;
    }

    .opções_botão:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opções_botão:checked~.opções_rotulo>.opções_item{
        background: var(--azul-degrade);
        color: white;
    }

    .opções_item{
        padding:2em 1em;
    }

    .lista-menu_item:hover{
        background:var(--azul-degrade);
    }

    .lista-menu_item:hover>.lista-menu_link{
        -webkit-text-fill-color: white;
    }
}

@media screen and (min-width:1728px){
    .container_link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000000;
    }

    .cabeçalho{
        padding: 0 2em;
    }

    .opções{
        margin-right: auto;
    }

    .container_texto{
        display: block;
    }
}
