hr{
    margin: 0;
}

.rodapé{
    background-color: white;
    padding: 1em;
}

.lista-rodape{
    display: none;
}


@media screen and (min-width:1024px){
    .rodapé{
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape-item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape-link{
        color: gray;
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape-titulo{
        font-size: 14px;
        color: #858585;
    }

    .rodapé-titulo{
        font-size: 24px;
    }

    
    .lista-rodape-link:hover {
        color: orange;
    }
}

@media screen and (min-width:1728px){
    .lista-rodape{
        border-left: 1px solid gray;
        padding-left: 1em;
    }
}
