.tópicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.tópicos_titulo{
    color: #FFFFFF;
    font-weight: 300;
    padding-bottom: 1em;
}

.tópicos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos_item{
    margin: 2em 0.5em;
}

.tópicos_link{
    color: #FFFFFF;
    text-decoration: none;
    padding: 1em;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width:1024px){
    .tópicos_titulo{
        font-size: 24px;
    }

    .tópicos_link{
        font-size:24px;
    }
}